.container {
    background: #eaf5f5;
    position: relative;
    font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    font-size: 14px;
}
.innercontainer {
    -webkit-box-shadow: inset 0px 0px 0px 9px rgba(255, 255, 255, 1);
    -moz-box-shadow: inset 0px 0px 0px 9px rgba(255, 255, 255, 1);
    box-shadow: inset 0px 0px 0px 9px rgba(255, 255, 255, 1);
}
.styleguide-content {
    max-width: "";
}
.row {
    background: #eaf5f5;
    margin-right: 0;
    margin-left: 0;
    display: flex;
    border: 9px solid #fff;
    margin-bottom: 5em;
}
div.dc-chart {
    float: left;
    clear: both;
    z-index: 500;
}
.dc-chart svg {
    background: rgba(148, 191, 162, 0.24);
}
.explain_img {
    width: 0%;
    float: left;
    clear: both;
    -webkit-transition: all 500ms ease-out;
    -moz-transition: all 500ms ease-out;
    -o-transition: all 500ms ease-out;
    transition: all 500ms ease-out;
}
.explain_img img {
    width: 100%;
}
.expanded .explain_img {
    width: 40%;
    float: none;
    margin-left: 0px;
    margin-top: 1em;
}
path.area {
    fill: #E39300;
    stroke: none;
    fill-opacity: .6;
}
path.area {
    fill: #E39300;
    stroke: none;
    fill-opacity: .6;
}
path.line {
    fill: #E39300;
    stroke: none;
    fill-opacity: .6;
}
.avgspd {
    fill: #E39300;
}
.maxspd {
    fill: #569590
}
.axis text {
    font: inherit;
    font-weight: 200;
    font-size: .7em;
    color: #07948F;
    fill: #07948F;
}
text.y-axis-label.y-label {
    color: #07948F;
    fill: #07948F;
    font-size: .85em;
    font-weight: 200;
}
.y-axis-label.ylabel {
    font-size: .85em;
    font-weight: bold;
}
.y.axis .ylabel {
    font-size: .85em;
    font-weight: 500;
}
.axis .ylabeltext {
    font-weight: 500;
}
..axis path,
.axis line {
    fill: none;
    stroke: none;
    shape-rendering: crispEdges;
}
.x.axis .tick line {
    fill: none;
    stroke: #fff;
    shape-rendering: crispEdges;
}
.y.axis line {
    stroke: #569590;
    opacity: .3;
}
.spark {
    float: right;
    clear: both;
}
.bgrect {
    fill: #E39300;
    stroke: none;
}
.toptext {
    width: 100%;
    color: #8a8a8a;
    font-size: .85em;
    position: relative;
    font-weight: 200;
    padding-bottom: .5em;
    padding-right: .5em;
}
#Bsmp1 .toptext {
    color: #112e51;
    font-weight: 400;
    line-height: 1em;
}


 @media only screen and (max-width: 1185px) {
#BsmP1 .toptext .nochart {
    width: 25%;
    display: block;
    margin-bottom: .8em;
    padding-right: .7em;
    min-height: 7em;
}
}

#bb2.toptext {
    margin-top: 1em;
    padding-left: 4em;
}
.descriptor {
    width: 100%;
    color: #555;
    font-size: .97em;
    position: relative;
    line-height: 1.15em;
    font-weight: 200;
    padding-bottom: 1em;
}
#Bsmp1 .valtext.valentry {
    color: #569590;
    margin-top: .5em;
    width: 90%;
    font-weight: 200;
    line-height: 1.2em;
    background: #fff;
    padding-right: .6em;
}
.valtext.valentry {
    color: #569590;
    margin-top: 0;
    width: 100%;
    text-align: left;
    line-height: 1.2em;
    background: #fff;
    padding-right: .6em;
    padding-left: .4em;
}
.valtext.valentry.sm {
    width: 1.5em;
    text-align: left;
    line-height: 1.2em;
    background: #fff;
    padding-right: .6em;
    padding-left: .4em;
    float: left;
    clear: none;
    margin right: .7em;
}
.valtext .instruct {
    font-weight: 200;
    padding-left: 0;
}
.toptext .nochart {
    width: 25%;
    display: block;
    margin-bottom: .8em;
    padding-right: .7em;
}
.nochart {
    float: left;
}
.toptext:after {
    content: '';
    width: 100%;
    display: inline-block;
}
.instruct {
    font-size: 12px;
    padding-left: .5em;
    font-weight: normal;
    font-style: italic;
    color: #8a8a8a;
}
.nochart:last-of-type {
    float: right;
    clear: right;
}
.filters .dc-chart .axis path {
    stroke: none;
}
.filters .dc-chart .axis .tick line {
    stroke: none;
}
.dc-chart .axis .tick line.grid-line {
    stroke: #b4b3b3;
}
#range_chart {
    width: 100%;
    margin: 0;
    padding: 0;
}
#range_chart .axis.y {
    display: none;
}
g.grid-line.vertical {
    fill: none;
    stroke: #fff;
    !important opacity: .7;
    shape-rendering: crispEdges;
}
.dc-chart .brush rect {} .dc-chart .brush rect.extent {
    visibility: visible !important;
    fill: #E39300;
    fill-opacity: .2;
}
.brush rect.extent {
    visibility: visible !important;
}
.dc-chart g.resize.e {
    display: block !important;
}
.dc-chart .brush .resize path {
    fill: #E39300;
    stroke: none;
}
.dc-chart g.resize.w {
    display: block !important;
}
.axis line {
    shape-rendering: crispEdges;
}
.x.brush .background {
    fill: #651a1c;
    fill: #c15206;
    fill: #7da7a7;
    visibility: visible !important;
}
#timeStart {
    float: left;
    width: auto;
    display: inline;
}
#timeEnd {
    float: right;
    width: auto;
    display: inline;
}
width: auto;
display: inline;
.container {
    position: relative;
    height: 900px;
    width: 95%;
    top: 12em;
    background: #fff;
    color: #346363;
}
h3.h3InViz {
    margin-top: 1em;
    font-weight: 400;
    font-size: 1.45em;
    color: #346363;
    font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    letter-spacing: .02em;
    border-bottom: 2px solid #fff;
    margin-bottom: 1em;
}
h3.h3InViz span {
    text-transform: none;
}
h4.h4InViz {
    margin-top: 1em;
    padding-bottom: .4em;
    display: inline-block;
    font-size: 1.1em;
    color: #346363;
    font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    letter-spacing: .02em;
    border-bottom: 2px solid #fff;
}
a:hover {
    text-decoration: none;
}
#range_chart .axis.y {
    display: none;
}
.filebox {
    position: relative;
    background: #eaf5f5;
    border-top: 9px solid #fff;
    outline-offset: -9px;
    line-height: 1.2em;
    padding: 1.5em 2em;
    font-weight: 400;
    color: #569590;
    -webkit-transition: all 500ms ease-out;
    -moz-transition: all 500ms ease-out;
    -o-transition: all 500ms ease-out;
    transition: all 500ms ease-out;
    opacity: 1;
    display: block;
    width: 100%;
}
.filebox:first-of-type {
    border-top: none;
}
.filebox span {} .chartcol {
    padding-top: 5px;
    margin-bottom: 5px;
}
.lil_legend {
    font-size: .85em;
    text-align: right;
    float: right;
    color: #333;
    white-space: nowrap;
    margin-top: .5em;
}
.lil_legend .bull {
    display: inline-block;
    font-size: 3em;
    line-height: 0;
    color: hsla(42, 64%, 60%, 1.00);
    margin-top: -.5em;
    position: relative;
    bottom: -.18em;
    vertical-align: baseline;
    padding-left: .5em;
    padding-right: .07em;
}
ul {
    -webkit-padding-start: 0px;
    padding-left: 15px;
}
.initiative {
    font-size: .9em;
    list-style: none;
    padding: 0 2em 1em 0em;
    padding-bottom: 2em;
    margin: 0 10 0 0;
    display: block;
}
.initiative hr {
    margin-top: 0;
    margin-bottom: 6px;
}
.reveal {
    position: absolute;
    display: block;
    opacity: 0;
    transition: 900ms all;
    background: #fff;
    border: 1px solid #ccc;
    padding: 1.2em;
    z-index: 500;
    pointer-events: none;
    font-weight: 200;
    width: 300px;
}
#backgroundInfo li:hover .reveal {
    opacity: 1;
}
#backgroundInfo li:last-of-type .reveal {
    right: 0;
}
#data_panel {
    border: none;
}
#data_panel.panel-default>.panel-heading {
    background: none;
}
g.row text {
    letter-spacing: .017em;
}
.panel-default>.panel-heading {
    background-color: none;
}
select,
input[type="color" i][list] {
    background-color: rgb(248, 248, 248);
    border-image-source: "";
    border-image-slice: "";
    border-image-width: "";
    border-image-outset: "";
    border-image-repeat: "";
    border-width: 1px;
    border-style: solid;
    border-color: rgb(166, 166, 166);
    -webkit-appearance: "";
    -moz-appearance: "";
}
input {
    border-style: solid;
    border: 1px solid #b4b3b3;
    background: #f1f1f1;
}
.reset {
    float: right;
    font-size: .8em;
    color: #5a9bca;
    font-weight: bold;
    text-align: right;
    line-height: 1.2em;
}
.clearall {
    font-size: .7em;
}
.resetter {
    float: left;
    font-size: .8em;
    color: #8a8a8a;
    width: 68%;
    margin-left: 30px;
    height: 3em;
    line-height: 1.2em;
}
.filter {
    color: #5a9bca;
    font-weight: bold;
    clear: both;
}
.filterTitle {
    margin-left: 30px;
    font-size: 1.1em;
    font-weight: 700;
}
.col-md-8,
col-xs-4 {} .col-xs-4 {
    position: relative;
    padding: 0;
    background-color: none;
    background: none;
    border: none;
}
.column {
    position: relative;
    top: 0;
    left: 0;
    padding: 0;
    background-color: none;
    background: none;
    border: none;
    -webkit-transition: all 500ms ease-out;
    -moz-transition: all 500ms ease-out;
    -o-transition: all 500ms ease-out;
    transition: all 500ms ease-out;
}
.column:first-of-type {
    border-right: 9px solid #fff;
}
.expandHolder {
    position: relative;
    float: right;
    top: 0;
    width: 7em;
    font-size: .85em;
    padding: 0em;
    margin: 0px;
    text-align: right;
    margin-bottom: -8em;
}
.expandToggle {
    position: relative;
    float: right;
    top: -.7em;
    width: 3.5em;
    height: 3.5em;
    font-size: .85em;
    margin-left: 1em;
    transform: scale(.85);
    background: #2c5252;
    cursor: pointer;
    box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, 0.17);
}
.expandToggle .tr {
    position: absolute;
    right: 0;
    top: 0;
    margin: .7em;
    width: 2em;
    height: 2em;
    font-size: .85em;
    border: 1px solid #aeb0b5;
}
.expandToggle .br {
    position: absolute;
    left: 0;
    bottom: 0;
    margin: .7em;
    width: 1.2em;
    height: 1.2em;
    font-size: .85em;
    border: 1px solid #aeb0b5;
}
.expanded {
    width: 100%;
    right: 0;
    z-index: 2;
    -webkit-transition: all 500ms ease-out;
    -moz-transition: all 500ms ease-out;
    -o-transition: all 500ms ease-out;
    transition: all 500ms ease-out;
}
.expanded .filebox {
    border-top: 9px solid #fff;
    outline: none;
}
.expanded #BsmP1 .y.axis text {
    display: block;
    font-size: .9em;
}
#BsmP1 .x.axis {
    display: block;
}
.expanded #BsmP1 .x.axis {
    display: block;
}
.expanded #BsmP1 .x.axis text {
    display: block;
}
.expanded #BsmP1 img {
    display: none;
}
.expanded #ExteriorLightsEvents .tick text {
    display: none;
}
.expanded #ExteriorLightsEvents .minilanes:last-of-type .x.axis text {
    display: block;
}
#BSM_Trip_Summary_File .nochart {
    margin-bottom: .4em;
}
#BSM_Trip_Summary_File .timelinerect.total {
    stroke: #346363;
}
#TransStateEvents .minilanes .x.axis .tick text {
    display: block
}
.steerchart .x.axis .tick text {
    display: block
}
#WiperStatusFrontEvents .minilanes .x.axis .tick text {
    display: block
}
.shrunk {
    width: 0;
    height: 0;
    --webkit-transition: all 500ms ease-out;
    -moz-transition: all 500ms ease-out;
    -o-transition: all 500ms ease-out;
    transition: all 500ms ease-out;
    opacity: 0;
    display: none;
}
#bb1field {
    position: relative;
    right: 0;
    float: right;
    width: 100%;
}
#BrakeByte2Events .lil_legend {
    float: none;
    text-align: left;
    width: auto;
    line-height: 1.8em;
}
.emptyvalrow {
    border-bottom: 1px solid #cfe2e2;
}
#BsmP1 .updatedfield {
    font-size: .85em;
    font-weight: 200;
}
.y.axis .ylabel {
    font-weight: 400;
}
.x.axis .xlabel {
    font-weight: 400;
    font-size: .85em;
}
#PosAccurByte1Events .x.axis text,
#PosAccurByte1Events .y.axis text {
    display: block;
}
#PosAccurByte1Events h4.h4InViz {
    margin-top: 1.73em;
}
#PosAccurByte1Events h4.h4InViz:first-of-type {
    margin-top: "";
}
#Throttle .x.axis text {
    display: block;
}
#BsmP1 .y.axis text.ylabel {
    display: block;
}
#bsm_others {
    width: 45%;
    float: left;
}
.minilanes text {
    fill: #569590;
}
.timelinerect {
    fill: #E39300;
}
.timelinerect.unavailable,
.bull.unavailable {
    fill: #a5a3a3;
    background: #a5a3a3;
    color: #a5a3a3;
}
.timelinerect.off,
.bull.off {
    fill: #e0cca7;
    background: #e0cca7;
    color: #e0cca7;
}
.timelinerect.on,
.bull.on {
    fill: #E39300;
    background: #E39300;
    color: #E39300;
    background: #E39300;
}
.timelinerect.engaged,
.bull.engaged {
    fill: #e31c3d;
    background: #e31c3d;
    color: #e31c3d;
}
.timelinerect.total,
.bull.total {
    fill: #E39300;
    color: #E39300;
    fill-opacity: .6;
}
.timelinerect.over25,
.bull.over25 {
    fill: #569590;
    color: #569590;
}
.timelinerect.over55,
.bull.over55 {
    fill: #d90223;
    color: #d90223;
}
.timelinerect.low,
.bull.low {
    fill: #87cec8;
    background: #569590;
    color: #87cec8;
}
.timelinerect.high,
.bull.high {
    fill: #346363;
    background: #569590;
    color: #346363;
}
.timelinerect.intermittent,
.bull.intermittent {
    fill: #E39300;
    background: #569590;
    color: #E39300;
}
.timelinerect.washer,
.bull.washer {
    fill: #d90223;
    background: #d90223;
    color: #d90223;
}
.timelinerect.automatic,
.bull.automatic {
    fill: #afacd0;
    background: #afacd0;
    color: #afacd0;
}
.neutral {
    color: #806432 !important;
}
.park {
    color: #569590 !important;
}
.forward {
    color: #E39300 !important;
}
.reverse {
    color: #d90223 !important;
}
.tick text {
    display: none;
}
.y.axis text {
    display: none;
}
.context .x.axis text,
.expanded .context .x.axis text {
    display: none;
}
#throttle .y.axis text,
#throttle .x.axis text {
    display: block;
}
#Throttle .timelinerect {
    stroke: #ce8501;
}
#steerfield .y.axis text {
    display: block;
}
.summarychart .y.axis text {
    display: block;
}
.summarychart .x.axis text {
    display: block;
}
#tripSumfield .y.axis text {
    display: block;
}
#tripSumfield .tripsumchart .x.axis text {
    display: block;
}
#PosAccurByte1Events .x.axis text {
    display: block;
}
.throttlechart text {
    fill: #569590;
}
.throttlechart .x.axis text {
    display: block;
}
.bgrect {
    fill: #cfe2e2;
}
.toptext .updatedField {
    display: none;
}
.expanded .toptext .updatedField {
    display: block;
}
.expanded .tick text {
    display: block;
}
.expanded .x.axis text {
    display: block;
}
.minilanes:last-of-type .x.axis text {
    display: block;
}
.svgholder {
    width: 100%;
}
.extent {
    fill: #346363;
    fill-opacity: 1;
}
.resize.e rect {
    visibility: visible !important;
    transform: scale(1.5, 1);
}
.resize.w rect {
    visibility: visible !important;
    transform: scale(1.5, 1);
}
g.resize.e {
    display: block !important;
}
path.domain {
    fill: none;
}
.g-aiPstyle5 {
    transform: rotate(-90deg);
    transform-origin: top right;
    text-align: right;
    position: absolute;
    top: 0;
}
.expand_text {
    display: block;
    text-align: right;
    line-height: 1.1em
}
#BsmPfield.chartcol.clearfix {
    width: 100%;
    float: right;
    clear: both;
}
.time_span_text {
    position: relative;
    margin: auto;
    text-align: center;
    font-size: .85em;
    margin-top: -8px;
    float: right;
    width: 90%;
}
.time_span_text2 {
    position: relative;
    margin: auto;
    text-align: center;
    font-size: .85em;
    margin-top: -8px;
    width: 90%;
}
.float_left {
    float: left;
}
.paeInstruct {
    padding-left: 0;
    display: inline-block;
    width: 85%
}
#BsmMd {
    align-self: flex-end;
}
.extra1 {
    margin-left: -.5%;
    margin-top: 1em;
}
.extra2 {
    width: 35%;
    float: left;
}